<mat-card>
    <mat-card-title>
        <span *ngIf="!question.id">سوال جدید</span>
        <span *ngIf="question.id">ویرایش سوال</span>
    </mat-card-title>
    <mat-card-content>
        <form>
            <mat-form-field class="fullwidth">
                <input matInput [(ngModel)]="question.text" name="text" placeholder="سوال">
            </mat-form-field>
            <mat-form-field class="fullwidth">
                <input matInput [(ngModel)]="question.correctAnswer" name="correctAnswer" placeholder="جواب درست">
            </mat-form-field>
            <mat-form-field class="fullwidth">
                <input matInput [(ngModel)]="question.answer1" name="answer1" placeholder="جواب غلط یک">
            </mat-form-field>
            <mat-form-field class="fullwidth">
                <input matInput [(ngModel)]="question.answer2" name="answer2" placeholder="جواب غلط دو">
            </mat-form-field>
            <mat-form-field class="fullwidth">
                <input matInput [(ngModel)]="question.answer3" name="answer3" placeholder="جواب غلط سه">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button *ngIf="!question.id" mat-button (click)="post(question)">افزودن</button>
        <button *ngIf="question.id" mat-button (click)="api.editQuestion(question)">ویرایش</button>
        <button *ngIf="question.id" mat-button (click)="question = {}">افزودن </button>
    </mat-card-actions>
</mat-card>