<mat-card>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let question of questions; let i = index" [expanded]="step === i" (opened)="setStep(i)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{question.text}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-radio-group [(ngModel)]="question.selectedAnswer">
          <mat-radio-button class="fullwidth" *ngFor="let answer of question.answers" [value]="answer">
            {{answer}}
          </mat-radio-button>
        </mat-radio-group>
        <mat-action-row>
          <button mat-button color="primary" (click)="prevStep() ">سوال قبلی</button>
          <span fxFlex="1 1 auto "></span>
          <button mat-button color="primary" (click)="nextStep() ">سوال بعدی</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="finish()" color="warn">پایان امتحان</button>
  </mat-card-actions>
</mat-card>